# Introdução Pandas - Sessão Livup 23/07/2020

In [27]:
import pandas as pd

Documentação: https://pandas.pydata.org/pandas-docs/stable/reference/

## Leitura de Dados

In [6]:
items = pd.read_csv('items.csv')

In [7]:
items

,Unnamed: 0,ITEM_ID,ANALYSIS_CATEGORY,ANALYSIS_SUBCATEGORY,CATALOG_CATEGORY,PRICE,WEIGHT,TYPE,IS_VEGETARIAN,HAS_EGGS,...,IS_SNACK,IS_MEAL,IS_DESSERT,KCAL,SAT_FATS,CARBS,FIBER,PROTS,TOTAL_FATS,SODIUM
0,0,5e5d700044001a0017727206,Sopas,Sopas,Sopas,1290,350,item,1,0,...,0,1,0,136.0,0.9,18.0,5.1,4.0,5.4,572.0
1,1,5b7c39029d041700141052f2,Sopas,Sopas,Sopas,1390,350,item,1,0,...,0,1,0,200.0,0.6,38.0,4.4,2.5,4.4,526.0
2,2,5cefe8b3e535ef0015a715d2,Sopas,Sopas,Sopas,1590,350,item,0,0,...,0,1,0,254.0,1.8,21.0,2.3,28.0,6.6,634.0
3,3,5ced8aa1e0eb0500152f50cd,Sopas,Sopas,Sopas,1290,350,item,1,0,...,0,1,0,358.0,1.7,49.0,13.0,17.0,11.0,434.0
4,4,5e85e4f25cbaf1001751c805,Sopas,Sopas,Sopas,1390,350,item,1,0,...,0,1,0,248.0,3.4,29.0,3.5,13.0,8.9,502.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,227,5e15e1f50a8ebf0015ba4cbe,NaN,NaN,Vegetarianos e Veganos,2370,320,meal,1,0,...,0,1,0,381.0,2.1,48.0,13.9,16.9,13.2,695.0
228,228,5a16fe3f5d37280014f57e66,NaN,NaN,Vegetarianos e Veganos,2370,370,meal,1,0,...,0,1,0,566.5,4.8,72.1,12.2,21.9,20.9,802.4
229,229,5ab28949279b320014abb6c3,NaN,NaN,Vegetarianos e Veganos,1890,320,meal,1,0,...,0,1,0,314.0,1.1,49.2,12.7,15.2,5.9,594.0
230,230,5a2830db6481b70014887747,NaN,NaN,Vegetarianos e Veganos,2070,210,meal,1,0,...,0,1,0,209.0,0.3,38.0,7.9,9.4,2.1,260.0
231,231,5ae09570cfb48a0014092c3c,NaN,NaN,Vegetarianos e Veganos,2330,330,meal,0,0,...,0,1,0,350.0,1.3,50.9,14.8,19.0,7.5,666.0

In [13]:
events = pd.read_csv('load.tsv', sep='\t', header=None)

In [20]:
metrics = pd.read_excel('/home/jupyter/routing_metrics.xlsx')

In [21]:
metrics

,Router Metrics Solution Executed Date,Last Mile Deliveries Points Delivery Period,Router Metrics Solution Average Order Delivery Cost,Last Mile Deliveries Points Average Route Cost,Model / Real
0,2020-05-02,morning,15.500837,16.059496,0.965213
1,2020-05-04,afternoon,15.490193,15.233471,1.016853
2,2020-05-04,morning,15.531778,15.548761,0.998908
3,2020-05-04,night,15.184209,14.006420,1.084089
4,2020-05-05,morning,16.565188,16.403755,1.009841
...,...,...,...,...,...
63,2020-05-29,afternoon,14.701064,15.793200,0.930848
64,2020-05-29,night,16.667305,17.148980,0.971912
65,2020-05-29,morning,20.490000,20.436471,1.002619
66,2020-05-30,morning,18.755455,22.757895,0.824130
67,2020-06-01,morning,15.656250,62.650000,0.249900

#### Leitura Big Query

In [23]:
query = """
SELECT
  *
FROM
  ecom_master.items
"""

In [29]:
items_bq = pd.read_gbq(query)

Downloading: 100%|██████████| 490/490 [00:01<00:00, 441.31rows/s]

In [47]:
items_bq.head(5)

,item_id,created_at,updated_at,release_date,first_sale_timestamp,last_sale_timestamp,name,is_new,sku,image_url,...,weight,description,last_month_rebuy,qty_sold_last_7_days,expiration,goal_per_distribution_center,items_per_box,distribution_centers_selling_status,forecast_first_week,forecast_second_week
0,5e28899844d6ae00170ce16e,2020-01-22 17:42:48.395000+00:00,2020-07-13 22:48:47.289000+00:00,NaT,NaT,NaT,CK Pesto de rama de cenoura e erva doce,True,L082,None,...,60,None,NaN,NaN,180,[],0.0,[{'distribution_center_id': '587e81a99565c515f...,NaN,NaN
1,5ef5f4df2015e1001702ee0d,2020-06-26 13:15:11.024000+00:00,2020-07-21 17:01:47.775000+00:00,NaT,NaT,NaT,Lasanha bolonhesa (box),True,V028,None,...,400,,NaN,NaN,180,[],28.0,[],NaN,NaN
2,5ea047fb5ccba500170ee2bc,2020-04-22 13:34:51.511000+00:00,2020-07-13 22:48:47.289000+00:00,NaT,NaT,NaT,Arroz Cateto,False,C124,None,...,100,None,NaN,NaN,180,[],0.0,[],NaN,NaN
3,5ea1c158cd7b4100176f8f71,2020-04-23 16:24:56.002000+00:00,2020-07-13 22:48:47.289000+00:00,NaT,NaT,NaT,Abóbora compart. Vegana,True,L129,None,...,1500,None,NaN,NaN,180,[],0.0,[],NaN,NaN
4,5d7fdfb3f2281dfddc69c349,2019-09-16 19:17:07.329000+00:00,2020-07-13 22:48:47.289000+00:00,NaT,2020-06-17 00:22:07.740000+00:00,2020-06-17 00:22:07.740000+00:00,Farofa de Coco,False,I187,None,...,0,None,0.0,NaN,180,[],0.0,[{'distribution_center_id': '587e81a99565c515f...,NaN,NaN

In [52]:
items_bq.shape

(490, 59)

In [53]:
items_bq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   item_id                               490 non-null    object
 1   created_at                            490 non-null    datetime64[ns, UTC]
 2   updated_at                            490 non-null    datetime64[ns, UTC]
 3   release_date                          321 non-null    datetime64[ns]
 4   first_sale_timestamp                  343 non-null    datetime64[ns, UTC]
 5   last_sale_timestamp                   343 non-null    datetime64[ns, UTC]
 6   name                                  490 non-null    object
 7   is_new                                490 non-null    bool
 8   sku                                   490 non-null    object
 9   image_url                             338 non-null    object
 10  website_url                           405 non-null    object
 11  is_active                             490 non-null    bool
 12  prioritize_on_survey                  490 non-null    bool
 13  product_type                          490 non-null    object
 14  item_line                             368 non-null    object
 15  analysis_category                     368 non-null    object
 16  analysis_subcategory                  367 non-null    object
 17  catalogue_category                    490 non-null    object
 18  consumption_time                      340 non-null    object
 19  is_outsourced                         326 non-null    object
 20  abc_classification                    367 non-null    object
 21  placement_prioritization              368 non-null    float64
 22  production_complexity                 0 non-null      float64
 23  partner_production                    346 non-null    object
 24  products                              490 non-null    object
 25  tags                                  490 non-null    object
 26  restrictions                          490 non-null    object
 27  categories                            490 non-null    object
 28  promotion_type                        490 non-null    object
 29  promotional_percentage                490 non-null    object
 30  is_promotional                        490 non-null    bool
 31  selling_status                        490 non-null    object
 32  distribution_centers_not_selling      490 non-null    object
 33  type                                  490 non-null    object
 34  price                                 405 non-null    float64
 35  nutritional_facts_trans_fats          466 non-null    float64
 36  nutritional_facts_allergenics         488 non-null    object
 37  nutritional_facts_reference_grammage  481 non-null    float64
 38  nutritional_facts_kcal                471 non-null    float64
 39  nutritional_facts_sat_fats            470 non-null    float64
 40  nutritional_facts_carbs               471 non-null    float64
 41  nutritional_facts_fiber               466 non-null    float64
 42  nutritional_facts_prots               465 non-null    float64
 43  nutritional_facts_total_fats          470 non-null    float64
 44  nutritional_facts_sodium              470 non-null    float64
 45  nutritional_facts_mono_fats           29 non-null     float64
 46  nutritional_facts_poli_fats           30 non-null     float64
 47  nutritional_facts_may_contain         488 non-null    object
 48  nutritional_facts_ingredients         483 non-null    object
 49  weight                                490 non-null    int64
 50  description                           405 non-null    object
 51  last_month_rebuy                      316 non-null    float64
 52  qty_sold_last_7_days                  147 non-null    float64
 53  expiration                            490 non-null    int64
 54  goal_per_distribution_center          490 non-null    object
 55  items_per_box                         410 non-null    float64
 56  distribution_centers_selling_status   490 non-null    object
 57  forecast_first_week                   77 non-null     float64
 58  forecast_second_week                  77 non-null     float64
dtypes: bool(4), datetime64[ns, UTC](4), datetime64[ns](1), float64(19), int64(2), object(29)
memory usage: 212.6+ KB

In [54]:
items_bq.describe()

,placement_prioritization,production_complexity,price,nutritional_facts_trans_fats,nutritional_facts_reference_grammage,nutritional_facts_kcal,nutritional_facts_sat_fats,nutritional_facts_carbs,nutritional_facts_fiber,nutritional_facts_prots,...,nutritional_facts_sodium,nutritional_facts_mono_fats,nutritional_facts_poli_fats,weight,last_month_rebuy,qty_sold_last_7_days,expiration,items_per_box,forecast_first_week,forecast_second_week
count,368.000000,0.0,405.000000,466.000000,481.000000,471.000000,470.000000,471.000000,466.000000,465.000000,...,470.000000,29.000000,30.00000,490.000000,316.000000,147.000000,490.000000,410.000000,77.000000,77.000000
mean,1.464674,NaN,2504.446914,0.017597,214.883576,278.296595,2.810416,29.721546,4.425708,16.319720,...,302.446123,4.679310,2.03000,240.397959,0.197235,1295.231293,173.367347,37.975610,244.311688,241.805195
std,2.351613,NaN,12000.716714,0.084188,422.758657,845.682856,6.346392,109.394858,16.187174,78.824181,...,776.589613,2.898076,1.46173,465.080962,0.205823,1249.688953,29.761969,35.695183,137.071750,146.750777
min,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,30.000000,0.000000,27.000000,17.000000
25%,1.000000,NaN,590.000000,0.000000,70.000000,105.000000,0.200000,6.100000,0.900000,2.500000,...,17.000000,2.100000,0.95000,80.000000,0.000000,121.500000,180.000000,1.000000,136.000000,125.000000
50%,1.000000,NaN,890.000000,0.000000,110.000000,163.000000,1.300000,16.000000,2.000000,5.700000,...,167.500000,4.800000,2.00000,110.000000,0.118347,998.000000,180.000000,30.000000,228.000000,230.000000
75%,1.000000,NaN,1250.000000,0.000000,160.000000,222.150000,3.400000,26.000000,3.575000,14.000000,...,279.750000,7.100000,2.82500,200.000000,0.397737,1998.500000,180.000000,60.000000,310.000000,305.000000
max,19.000000,NaN,121200.000000,1.000000,4621.000000,15126.000000,83.000000,2101.000000,255.000000,1505.000000,...,8407.000000,9.500000,6.30000,4621.000000,1.000000,6110.000000,300.000000,140.000000,750.000000,750.000000

In [55]:
items_bq.columns

Index(['item_id', 'created_at', 'updated_at', 'release_date',
       'first_sale_timestamp', 'last_sale_timestamp', 'name', 'is_new', 'sku',
       'image_url', 'website_url', 'is_active', 'prioritize_on_survey',
       'product_type', 'item_line', 'analysis_category',
       'analysis_subcategory', 'catalogue_category', 'consumption_time',
       'is_outsourced', 'abc_classification', 'placement_prioritization',
       'production_complexity', 'partner_production', 'products', 'tags',
       'restrictions', 'categories', 'promotion_type',
       'promotional_percentage', 'is_promotional', 'selling_status',
       'distribution_centers_not_selling', 'type', 'price',
       'nutritional_facts_trans_fats', 'nutritional_facts_allergenics',
       'nutritional_facts_reference_grammage', 'nutritional_facts_kcal',
       'nutritional_facts_sat_fats', 'nutritional_facts_carbs',
       'nutritional_facts_fiber', 'nutritional_facts_prots',
       'nutritional_facts_total_fats', 'nutritional_facts_sodium',
       'nutritional_facts_mono_fats', 'nutritional_facts_poli_fats',
       'nutritional_facts_may_contain', 'nutritional_facts_ingredients',
       'weight', 'description', 'last_month_rebuy', 'qty_sold_last_7_days',
       'expiration', 'goal_per_distribution_center', 'items_per_box',
       'distribution_centers_selling_status', 'forecast_first_week',
       'forecast_second_week'],
      dtype='object')

### Estrutura

####  pd.Series

In [59]:
metrics.head()

,Router Metrics Solution Executed Date,Last Mile Deliveries Points Delivery Period,Router Metrics Solution Average Order Delivery Cost,Last Mile Deliveries Points Average Route Cost,Model / Real
0,2020-05-02,morning,15.500837,16.059496,0.965213
1,2020-05-04,afternoon,15.490193,15.233471,1.016853
2,2020-05-04,morning,15.531778,15.548761,0.998908
3,2020-05-04,night,15.184209,14.006420,1.084089
4,2020-05-05,morning,16.565188,16.403755,1.009841

In [65]:
series = items_bq['price']

In [66]:
series

0         NaN
1      2590.0
2         NaN
3         NaN
4         NaN
        ...
485     790.0
486    1290.0
487    6750.0
488    6350.0
489    7600.0
Name: price, Length: 490, dtype: float64

In [72]:
series[488]

6350.0

[0, 10)

In [76]:
idx = 10

In [77]:
series[0:idx+1]

0        NaN
1     2590.0
2        NaN
3        NaN
4        NaN
5      550.0
6        NaN
7      700.0
8        NaN
9        NaN
10       1.0
Name: price, dtype: float64

In [67]:
series.index

RangeIndex(start=0, stop=490, step=1)

In [79]:
series.max()

121200.0

In [80]:
series.min()

0.0

In [81]:
series.mean()

2504.446913580247

In [83]:
items_bq.price.describe()

count       405.000000
mean       2504.446914
std       12000.716714
min           0.000000
25%         590.000000
50%         890.000000
75%        1250.000000
max      121200.000000
Name: price, dtype: float64

In [82]:
series.describe()

count       405.000000
mean       2504.446914
std       12000.716714
min           0.000000
25%         590.000000
50%         890.000000
75%        1250.000000
max      121200.000000
Name: price, dtype: float64

#### pd.DataFrame

In [87]:
columns = ['item_id', 'analysis_category', 'analysis_subcategory', 'is_active', 'name', 'price']

In [94]:
items = items_bq[columns].copy()

In [107]:
items.sort_values(['price', 'name'], ascending=[False, True], inplace=True)

In [108]:
items

,item_id,analysis_category,analysis_subcategory,is_active,name,price
399,5aa2d2aa1af3c40014555721,Testes,Testes,False,teste straat,121200.0
394,5aa2d2aae9cb4500147a5ca8,Testes,Testes,False,teste straat,121200.0
111,5ebc01993179f10017a6b46a,None,None,False,Mousse de Chocolate (TESTE),99999.0
39,5eb1e138170b7d00176a3a7b,None,None,False,Mousse de Maracujá,99999.0
80,5ed168d0c6536300177bc92d,None,None,False,Tortinha de Banana com Doce de Leite,99999.0
...,...,...,...,...,...,...
41,5e7233f58e74570017ec63bd,None,None,False,[KIDS] Carne moída,NaN
51,5e73820dfd97730017ce4110,None,None,False,[KIDS] Frango desfiado,NaN
66,5e6bb1767b2a870017708cb9,None,None,False,[KIDS] Mandioquinha no vapor,NaN
15,5ddeb28634a5130017881d68,None,None,False,[TESTE] Salmão ao molho de maracujá e mel,NaN
96,5dc1cf4229ff190017a9db5d,None,None,False,teste,NaN

In [115]:
items['price'] = items['price'] / 100

In [119]:
items['price_dolar'] = items['price'] / 5.10

In [120]:
items

,item_id,analysis_category,analysis_subcategory,is_active,name,price,price_dolar
399,5aa2d2aa1af3c40014555721,Testes,Testes,False,teste straat,1212.00,237.647059
394,5aa2d2aae9cb4500147a5ca8,Testes,Testes,False,teste straat,1212.00,237.647059
111,5ebc01993179f10017a6b46a,None,None,False,Mousse de Chocolate (TESTE),999.99,196.076471
39,5eb1e138170b7d00176a3a7b,None,None,False,Mousse de Maracujá,999.99,196.076471
80,5ed168d0c6536300177bc92d,None,None,False,Tortinha de Banana com Doce de Leite,999.99,196.076471
...,...,...,...,...,...,...,...
41,5e7233f58e74570017ec63bd,None,None,False,[KIDS] Carne moída,NaN,NaN
51,5e73820dfd97730017ce4110,None,None,False,[KIDS] Frango desfiado,NaN,NaN
66,5e6bb1767b2a870017708cb9,None,None,False,[KIDS] Mandioquinha no vapor,NaN,NaN
15,5ddeb28634a5130017881d68,None,None,False,[TESTE] Salmão ao molho de maracujá e mel,NaN,NaN
96,5dc1cf4229ff190017a9db5d,None,None,False,teste,NaN,NaN

In [125]:
items.drop('price_dolar', axis=1, inplace=True)

In [126]:
items

,item_id,analysis_category,analysis_subcategory,is_active,name,price
399,5aa2d2aa1af3c40014555721,Testes,Testes,False,teste straat,1212.00
394,5aa2d2aae9cb4500147a5ca8,Testes,Testes,False,teste straat,1212.00
111,5ebc01993179f10017a6b46a,None,None,False,Mousse de Chocolate (TESTE),999.99
39,5eb1e138170b7d00176a3a7b,None,None,False,Mousse de Maracujá,999.99
80,5ed168d0c6536300177bc92d,None,None,False,Tortinha de Banana com Doce de Leite,999.99
...,...,...,...,...,...,...
41,5e7233f58e74570017ec63bd,None,None,False,[KIDS] Carne moída,NaN
51,5e73820dfd97730017ce4110,None,None,False,[KIDS] Frango desfiado,NaN
66,5e6bb1767b2a870017708cb9,None,None,False,[KIDS] Mandioquinha no vapor,NaN
15,5ddeb28634a5130017881d68,None,None,False,[TESTE] Salmão ao molho de maracujá e mel,NaN
96,5dc1cf4229ff190017a9db5d,None,None,False,teste,NaN

### Filtros

In [128]:
items.head(10)

,item_id,analysis_category,analysis_subcategory,is_active,name,price
399,5aa2d2aa1af3c40014555721,Testes,Testes,False,teste straat,1212.00
394,5aa2d2aae9cb4500147a5ca8,Testes,Testes,False,teste straat,1212.00
111,5ebc01993179f10017a6b46a,None,None,False,Mousse de Chocolate (TESTE),999.99
39,5eb1e138170b7d00176a3a7b,None,None,False,Mousse de Maracujá,999.99
80,5ed168d0c6536300177bc92d,None,None,False,Tortinha de Banana com Doce de Leite,999.99
274,5e7ba2d828414000174e262a,Snacks,Chocolates,False,Dengo Ovo Casca Recheada Gianduia,118.00
271,5e7ba1a328414000174e261c,Snacks,Chocolates,False,Dengo Ovo Banana com Castanha de Caju,98.00
269,5e7ba27b28414000174e2624,Snacks,Chocolates,False,Dengo Ovo Biju,98.00
273,5e7ba20d28414000174e2620,Snacks,Chocolates,False,Dengo Ovo Cupuaçu com Castanha de Caju,98.00
270,5e7b9b5c28414000174e239f,Snacks,Chocolates,False,Dengo Ovo 2D Abacaxi com Macadâmia,88.00

In [148]:
mask = (items.price < 120) & (items.price > 1)

items = items[mask]

In [151]:
items = items[items.is_active]

#### Apply + Lambda

In [158]:
def check_price_category(price):
    if price >= 20:
        return 'caro'
    else:
        return 'barato'

In [ ]:
# NÃO É BOA PRÁTICA!
items['categoria_preço'] = items.price.apply(check_price_category)

In [163]:
items

,item_id,analysis_category,analysis_subcategory,is_active,name,price,categoria_preço
489,5eeb77d238a5350017908c5f,Seleção de orgânicos,Seleção de orgânicos,True,Seleção de orgânicos + shiitake + 10 ovos cage...,76.00,caro
487,5ede511424189c00170b962e,Seleção de orgânicos,Seleção de orgânicos,True,Seleção de orgânicos + shiitake orgânico,67.50,caro
304,5e7a86796289970017ceb404,Bebidas,Sucos,True,Pack Água de Coco (12 unid) - 10%off,59.40,caro
235,5e8f4b8447987d00177a4a01,Seleção de orgânicos,Seleção de orgânicos,True,Seleção de orgânicos,53.00,caro
115,5e41ba5a0735f60017913aab,Proteínas,None,True,Salmão sem pele assado (foodservice),50.00,caro
...,...,...,...,...,...,...,...
283,5b22c586d8a0250014146146,Snacks,Mix de castanhas,True,Castanhas com lemon pepper,5.31,barato
136,59161c71cb7257001150eb41,Proteínas,Grãos,True,Feijão Preto,4.90,barato
139,59161c71cb7257001150eb4f,Proteínas,Grãos,True,Feijão carioca,4.90,barato
152,59161c71cb7257001150eb66,Carboidratos,Arrozes,True,Arroz integral,4.50,barato
153,5d8a58f7f2281dfddcc19c75,Carboidratos,Cereais,True,Farofa com couve,4.50,barato

#### Agregações

In [174]:
items.groupby('analysis_category').price.mean()

analysis_category
Baby                    10.866667
Bebidas                 13.640000
Carboidratos             8.007692
Doces                    8.114286
Molhos                   6.200000
Pastas                  18.233333
Proteínas               12.097187
Salgados                 7.313158
Seleção de orgânicos    65.500000
Snacks                  31.638750
Sopas                   14.400000
Vegetais                 6.873333
Name: price, dtype: float64

In [181]:
agg = {
    'price': ['mean', 'std'],
    'item_id': 'count'
}

In [183]:
grouped = items.groupby(['analysis_category', 'analysis_subcategory']).agg(agg)

In [184]:
grouped

                                                   price            item_id
                                                    mean        std   count
analysis_category    analysis_subcategory
Baby                 Papinha com pedaços (8+)  11.900000   0.000000       4
                     Papinha de frutas          9.800000   0.200000       4
                     Papinha sem pedaços (6+)  10.900000   0.000000       4
Bebidas              Chás                       7.500000        NaN       1
                     Sucos                     14.078571  13.750255      14
Carboidratos         Arrozes                    5.460000   0.572713       5
                     Cereais                    6.700000   1.608312       4
                     Massas                    12.820000   1.741264       5
                     Risotos                    9.820000   0.178885       5
                     Tubérculos                 5.842857   0.151186       7
Doces                Doces                      6.650000   0.886405       8
                     Doces sem açúcar          10.066667   0.983192       6
Molhos               Molhos                     6.200000   0.424264       2
Pastas               Pastas                    18.233333   5.686241       3
Proteínas            Carnes vermelhas          13.400000   3.391165       6
                     Frangos                   10.975000   1.165884       8
                     Grãos                      5.883333   0.830462       6
                     Peixes                    14.333333   1.675311       6
                     Proteínas vegetarianas     9.522000   2.283510       5
Salgados             Matinais                   6.400000   0.577350       4
                     Pães                       6.500000   0.894427       6
                     Salgados                   8.261111   1.564804       9
Seleção de orgânicos Seleção de orgânicos      65.500000  11.629703       3
Snacks               Castanhas com chocolate    8.900000   0.000000       2
                     Chocolates                46.000000   0.000000       5
                     Mix de castanhas           5.310000        NaN       1
Sopas                Sopas                     14.400000   1.224745       6
Vegetais             Vegetais                   6.873333   2.023952      15

In [186]:
grouped.to_excel('agrupamento.xlsx')